body {
  color: #333;
}

body a {
  color: #5bb8ff;
}

.header__faq-link {
  float: right;
}

.app__action {
  cursor: pointer;
}

.app__watsi {
  color: #5bb8ff !important;
  font-weight: 400 !important;
}

.app__map {
  height: 100vh;
}
